<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">HOME</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/home/">DOCS</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/deleteme/">NEWS</a>
  </li>  
  <li class="{% if page.url contains '/community/' %}current{% endif %}">
    <a href="/community/deleteme/">COMMUNITY</a>
  </li>
  <li class="{% if page.url contains '/help/' %}current{% endif %}">
    <a href="/help/deleteme/">HELP</a>
  </li>
  <li>
    <a href="{{ site.repository }}">GitHub</a>
  </li>
</ul>
